main {
    padding: 48px 0;
    max-width: 1920px;
}

.featured {
    width: 78%;
    margin: 0 auto;
    border-radius: 3px;
    background-color: white;
    display: flex;
    @media (max-width: 1000px) {
        display: block;
    }
    @media (max-width: 700px) {
        width: 98%;
        h1 {
            font-size: 1.5rem;
        }
    }
    font-family: $font-copy;
    margin-bottom: 48px;
    h1 {
        font-weight: 100;
        text-align: center;
        margin: 0;
    }
    .image-container {
        flex: 1;
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .featured-copy {
        padding: 24px;
        flex: 1;
        background-color: rgba(70, 52, 1, 0.1);
    }
    .cta {
        margin-top: 15px;
    }
    &.kitchen-featured{
        text-align: right;
        flex-direction: row-reverse;
        h1 {
            text-align: right;
        }
        background-color: white;
        .image-container {
            @media (min-width: 1000px) {
                flex: 0.8;
            }
        }
        img {
            filter: hue-rotate(8deg);
        }
        .featured-copy {
            border-right: 2px solid $colour-antique;
        }
    }
}

.categories {
    width: 80%;
    margin: 0 auto;
    padding: 48px 0;
    @media (max-width: 700px) {
        display: block;
    }
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .category-item {
        text-align: center;
        padding: 12px;
        border-radius: 3px;
        width: 20%;
        margin: 1%;
        background-color: white;
        @media (max-width: 1200px) {
            width: 45%;
        }
        @media (max-width: 1000px) {
            width: 43%;
        }
        @media (max-width: 700px) {
            width: 80%;
            margin: 24px auto;
            img {
                height: 220px;
            }
        }
        @media (max-width: 500px) {
            width: 90%;
        }
        &.double {
            flex: 1;
            background-color: rgba(70, 52, 1, 0.1);   
        }
        .copy {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 6px 0;
            p, h2, h3 {
                margin: 0;
                font-size: 1rem;
                font-weight: normal;
            }
        }
    }
    .image-container {
        position: relative;
        overflow: hidden;
    }
    img {
        height: 300px;
        object-fit: cover;
        width: 100%;
    }
    .fav-icon {
        position: absolute;
        height: 25px;
        width: 30px;
        top: 0;
        right: 0;
        background-color: white;
        padding: 8px;
        border-bottom-left-radius: 4px;
        fill: #091B9C;
        &:hover {
            cursor: pointer;
            fill: rgb(150, 0, 0);  
        }
    }   
}


