
@font-face {
    font-family: "Nizza";
    src: url("../fonts/Nizza.ttf") format("truetype");
}

header {
    padding: 24px 11% 24px 11%;
    position: relative;
    // text-align: center;
    border-top: 6px solid $colour-antique;
    max-width: 1920px;
    @media (max-width: 1000px) {
        #logo {
            height: 50px;
        }
        #brand {
            font-size: 3rem;
        }
        nav {
            display: none;
        }
        .user {
            display: none;
        }
        .hamburger {
            display: unset;
        }
    }
    @media (max-width: 700px){
        padding: 24px 5%;
        #brand {
            margin-left: 10px;
            font-size: 2.5rem;
        }
        #logo {
            height: 32px;
        }
        .hamburger {
            width: 50px;
            height: 42px;
            right: 5%;
            div {
                top: 6px;
                left: 6px;
                width: 38px;
                &.middle-bar {
                    top: 16px;
                }
                &.bottom-bar {
                    top: 26px;
                }
            }
        }
        
    }
    @media (max-width: 500px){
        #brand {
            font-size: 2rem;
            letter-spacing: 5px;
        }
    }
}

.hamburger{
    display: none;
    position: absolute;
    right: 11%;
    top: 24px;
    width: 70px;
    height: 60px;
    border: 2px solid $colour-royal;
    border-radius: 10px;
    z-index: 250;
    div {
        width: 45px;
        height: 3px;
        background-color: $colour-royal;
        border-radius: 3px;
        position: relative;
        left: 12px;
        top: 12px;
   }  
   .middle-bar {
       top: 25px;
   }
   .bottom-bar {
       top: 39px;
   }
}

#brand, nav {
    display: inline-block;
}

#logo {
    height: 70px;
}

#brand {
    font-size: 4.5rem;
    letter-spacing: 15px;
    margin-left: 50px;
    font-family: 'Nizza';
    font-weight: bold;
    color: $colour-antique;
}

nav {
    margin-top: 20px;
    display: block;
    a {  
        font-size: 1.5rem;
        text-decoration: none;
        margin: 15px;
        color: $colour-antique;
        &:hover {
            text-decoration: underline;
        }
        &:first-child {
            margin-left: 0;
        }
    }
}

.here {
    text-decoration: underline;
}

.user {
    position: absolute;
    right: 11%;
    top: 24px;
    text-align: right;
    div {
        display: block;
        margin: 12px 0;
        font-size: 1.2rem;
        :hover{
            text-decoration: underline;
        }
    }
    a {
        text-decoration: unset;
        
    }
    img {
        height: 25px;
        width: 25px;
        position: relative;
        top: 3px;
    }
}