body {
    margin: 0;
    font-family: $font-copy;
    color: $colour-antique;
}

h1, h2, h3, h4, a {
    font-family: $font-header;
}


.cta {
    font-family: 'Nizza';
    font-weight: bold;
    letter-spacing: 3px;
    font-size: 1.1rem;
    display: inline-block;
    background-color: $colour-royal;
    color: white;
    text-decoration: none;
    padding: 4px 13px 4px 16px;
    border-radius: 4px;
    &:hover {
        background-color: $colour-antique;    
    }
}

.strip {
    height: 48px;
    width: 100%;
}

.parquet {
    background-image: url('../images/parquet.jpg');
}

.attributes {
    padding: 24px;
}

