body {
  margin: 0;
  font-family: "Verdana", "Times New Roman", Times, serif;
  color: #463401;
}

h1, h2, h3, h4, a {
  font-family: "Federo", "Verdana", Tahoma, sans-serif;
}

.cta {
  font-family: 'Nizza';
  font-weight: bold;
  letter-spacing: 3px;
  font-size: 1.1rem;
  display: inline-block;
  background-color: #091B9C;
  color: white;
  text-decoration: none;
  padding: 4px 13px 4px 16px;
  border-radius: 4px;
}

.cta:hover {
  background-color: #463401;
}

.strip {
  height: 48px;
  width: 100%;
}

.parquet {
  background-image: url("../images/parquet.jpg");
}

.attributes {
  padding: 24px;
}

@font-face {
  font-family: "Nizza";
  src: url("../fonts/Nizza.ttf") format("truetype");
}

header {
  padding: 24px 11% 24px 11%;
  position: relative;
  border-top: 6px solid #463401;
  max-width: 1920px;
}

@media (max-width: 1000px) {
  header #logo {
    height: 50px;
  }
  header #brand {
    font-size: 3rem;
  }
  header nav {
    display: none;
  }
  header .user {
    display: none;
  }
  header .hamburger {
    display: unset;
  }
}

@media (max-width: 700px) {
  header {
    padding: 24px 5%;
  }
  header #brand {
    margin-left: 10px;
    font-size: 2.5rem;
  }
  header #logo {
    height: 32px;
  }
  header .hamburger {
    width: 50px;
    height: 42px;
    right: 5%;
  }
  header .hamburger div {
    top: 6px;
    left: 6px;
    width: 38px;
  }
  header .hamburger div.middle-bar {
    top: 16px;
  }
  header .hamburger div.bottom-bar {
    top: 26px;
  }
}

@media (max-width: 500px) {
  header #brand {
    font-size: 2rem;
    letter-spacing: 5px;
  }
}

.hamburger {
  display: none;
  position: absolute;
  right: 11%;
  top: 24px;
  width: 70px;
  height: 60px;
  border: 2px solid #091B9C;
  border-radius: 10px;
  z-index: 250;
}

.hamburger div {
  width: 45px;
  height: 3px;
  background-color: #091B9C;
  border-radius: 3px;
  position: relative;
  left: 12px;
  top: 12px;
}

.hamburger .middle-bar {
  top: 25px;
}

.hamburger .bottom-bar {
  top: 39px;
}

#brand, nav {
  display: inline-block;
}

#logo {
  height: 70px;
}

#brand {
  font-size: 4.5rem;
  letter-spacing: 15px;
  margin-left: 50px;
  font-family: 'Nizza';
  font-weight: bold;
  color: #463401;
}

nav {
  margin-top: 20px;
  display: block;
}

nav a {
  font-size: 1.5rem;
  text-decoration: none;
  margin: 15px;
  color: #463401;
}

nav a:hover {
  text-decoration: underline;
}

nav a:first-child {
  margin-left: 0;
}

.here {
  text-decoration: underline;
}

.user {
  position: absolute;
  right: 11%;
  top: 24px;
  text-align: right;
}

.user div {
  display: block;
  margin: 12px 0;
  font-size: 1.2rem;
}

.user div :hover {
  text-decoration: underline;
}

.user a {
  text-decoration: unset;
}

.user img {
  height: 25px;
  width: 25px;
  position: relative;
  top: 3px;
}

main {
  padding: 48px 0;
  max-width: 1920px;
}

.featured {
  width: 78%;
  margin: 0 auto;
  border-radius: 3px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Verdana", "Times New Roman", Times, serif;
  margin-bottom: 48px;
}

@media (max-width: 1000px) {
  .featured {
    display: block;
  }
}

@media (max-width: 700px) {
  .featured {
    width: 98%;
  }
  .featured h1 {
    font-size: 1.5rem;
  }
}

.featured h1 {
  font-weight: 100;
  text-align: center;
  margin: 0;
}

.featured .image-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.featured img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.featured .featured-copy {
  padding: 24px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: rgba(70, 52, 1, 0.1);
}

.featured .cta {
  margin-top: 15px;
}

.featured.kitchen-featured {
  text-align: right;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  background-color: white;
}

.featured.kitchen-featured h1 {
  text-align: right;
}

@media (min-width: 1000px) {
  .featured.kitchen-featured .image-container {
    -webkit-box-flex: 0.8;
        -ms-flex: 0.8;
            flex: 0.8;
  }
}

.featured.kitchen-featured img {
  -webkit-filter: hue-rotate(8deg);
          filter: hue-rotate(8deg);
}

.featured.kitchen-featured .featured-copy {
  border-right: 2px solid #463401;
}

.categories {
  width: 80%;
  margin: 0 auto;
  padding: 48px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 700px) {
  .categories {
    display: block;
  }
}

.categories .category-item {
  text-align: center;
  padding: 12px;
  border-radius: 3px;
  width: 20%;
  margin: 1%;
  background-color: white;
}

@media (max-width: 1200px) {
  .categories .category-item {
    width: 45%;
  }
}

@media (max-width: 1000px) {
  .categories .category-item {
    width: 43%;
  }
}

@media (max-width: 700px) {
  .categories .category-item {
    width: 80%;
    margin: 24px auto;
  }
  .categories .category-item img {
    height: 220px;
  }
}

@media (max-width: 500px) {
  .categories .category-item {
    width: 90%;
  }
}

.categories .category-item.double {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: rgba(70, 52, 1, 0.1);
}

.categories .category-item .copy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 6px 0;
}

.categories .category-item .copy p, .categories .category-item .copy h2, .categories .category-item .copy h3 {
  margin: 0;
  font-size: 1rem;
  font-weight: normal;
}

.categories .category-item .copy h2, .categories .category-item .copy h3 {
  font-size: 1.2rem;
}

.categories .image-container {
  position: relative;
  overflow: hidden;
}

.categories img {
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.categories .fav-icon {
  position: absolute;
  height: 25px;
  width: 30px;
  top: 0;
  right: 0;
  background-color: white;
  padding: 8px;
  border-bottom-left-radius: 4px;
  fill: #091B9C;
}

.categories .fav-icon:hover {
  cursor: pointer;
  fill: #960000;
}
/*# sourceMappingURL=style.css.map */